
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.home {
  box-shadow: 0px 0px 15px -3px gray;
  border-radius: 6px;
  text-align: center;
  padding: 3rem;
  width: 340px;

  h1 {
    margin-bottom: 2rem;
  }

  .start-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      background: #0056b3;
    }
  }
}
