.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.result {
   box-shadow: 0px 0px 15px -3px gray;
  border-radius: 6px;
  text-align: center;
  padding: 3rem;
  width: 340px;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .home-btn {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background: #007bff;
    color: white;
    border-radius: 6px;

    &:hover {
      background: #0056b3;
    }
  }
  .home-btn1 {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border: 1px solid transparent;
    margin-inline: 10px;
    background: #007bff;
    color: white;
    border-radius: 6px;

    &:hover {
      background: #0056b3;
    }
  }
}
